body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  height: 100vh;
}

.swiper-pagination {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    /* Adjust the spacing from the right edge */
}

.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 5px !important;
}

/* .swiper-pagination-bullet-active {
  background-color: #333;
  
} */


/* Modal */
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  width: 600px;
  border-radius: 5px;
}

.modal-title {
  padding: 0.8rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #aaa;
  text-align: center;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  border-top: 1px solid #aaa;
  padding: 0.8rem;
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  cursor: pointer;
}